{% extends 'front/base.html.twig' %}
{% block headerClass %}header--work{% endblock %}
{% block prefix %} 123123{% endblock %}
{% block content %}
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<section class="work">
    <div class="container">
        <h1 class="work__title">
            {{ work.title }}
        </h1>
        <div class="work__infographics">
            <div class="work__infographic infographic">
                <div class="infographic__icon-wrapper">
                    <img src="build/img/rocket.svg" alt=""  class="infographic__icon">
                </div>
                <div class="infographic__text">
                    <p>Начало работ</p>
                    <p><strong>{{ work.dateStart|date('d.m.Y') }}</strong></p>
                </div>
            </div>

            <div class="work__infographic infographic">
                <div class="infographic__icon-wrapper">
                    <img src="build/img/home.svg" alt=""  class="infographic__icon">
                </div>
                <div class="infographic__text">
                    <p>Тип дома</p>
                    <p><strong>{{ work.type }}</strong></p>
                </div>
            </div>

            <div class="work__infographic infographic">
                <div class="infographic__icon-wrapper">
                    <img src="build/img/metraj.svg" alt=""  class="infographic__icon">
                </div>
                <div class="infographic__text">
                    <p>Метраж</p>
                    <p><strong>{{ work.square }} м<sup>2</sup></strong></p>
                </div>
            </div>

            <div class="work__infographic infographic">
                <div class="infographic__icon-wrapper">
                    <img src="build/img/rooms.svg" alt=""  class="infographic__icon">
                </div>
                <div class="infographic__text">
                    <p>Комнат</p>
                    <p><strong>{{ work.rooms }}</strong></p>
                </div>
            </div>

            <div class="work__infographic infographic">
                <div class="infographic__icon-wrapper">
                    <img src="build/img/finish.svg" alt=""  class="infographic__icon">
                </div>
                <div class="infographic__text">
                    <p>Окончание работ</p>
                    <p><strong>{{ work.dateFinish|date('d.m.Y') }}</strong></p>
                </div>
            </div>
        </div>
        <div class="work__photos row js-masonry-grid" data-masonry='{ "itemSelector": ".work__photo", "columnWidth": 366 }'>
            {% for key, photo in work.photos %}
                <a href="{{ photo.filepath }}" class="js-grid-item" rel="gal" data-lightbox="remont">
                    <img src="{{ photo.filepath }}" alt="" class="work__photo">
                </a>
            {% endfor %}
        </div>
        <div class="text-center">
            <a href="#order" class="js-popup btn" data-form="Хочу также ({{ work.title }})">Хочу также!</a>
        </div>
        <div class="work__review review">
            <div class="review__title">
                Отзыв клиента
            </div>
            <div class="review__author">
                {{ work.clientName }}
            </div>
            <div class="review__text">
                {{ work.review }}
            </div>
        </div>
        <div class="works__others">
            <div class="row">
                <a class="col col--6 work-nav work-nav--prev" href="{{ path('work_show',{work:prev.id}) }}">
                    <img src="{{ prev.photo }}" alt="" class="img-responsive work-nav__img">
                    <div class="work-nav__text-block">
                        <div class="work-nav__subtitle">← Предыдущая работа</div>
                        <div class="work-nav__title">{{ prev.title }}</div>
                    </div>
                </a>
                <a class="col col--6 work-nav work-nav--next"  href="{{ path('work_show',{work:next.id}) }}">
                    <div class="work-nav__text-block">
                        <div class="work-nav__subtitle">Cледующая работа →</div>
                        <div class="work-nav__title">{{ next.title }}</div>
                    </div>
                    <img src="{{ next.photo }}" alt="" class="img-responsive work-nav__img">
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}