@import "~bootstrap3";
@import "~font-awesome";
// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
// Glyphicons from Bootstrap 3.3.7
@import "admin/glyphicons";
// Variables, Mixins
@import "admin/variables";
@import "admin/mixins";
// INSPINIA Theme Elements
@import "admin/typography";
@import "admin/navigation";
@import "admin/top_navigation";
@import "admin/buttons";
@import "admin/badges_labels";
@import "admin/elements";
@import "admin/sidebar";
@import "admin/base";
@import "admin/pages";
@import "admin/chat";
@import "admin/metismenu";
@import "admin/spinners";
// Landing page styles
//@import "inspinia/landing";
// RTL Support
//@import "inspinia/rtl";
// For demo only - config box style
//@import "inspinia/theme-config";
// INSPINIA Skins
@import "admin/skins";
@import "admin/md-skin";
// Media query style
@import "admin/media";
// Custom style
// Your custom style to override base style
@import "admin/custom";

// Clear layout on print mode
@media print {
    nav.navbar-static-side {
        display: none;
    }

    body {
        overflow: visible !important;
    }

    #page-wrapper {
        margin: 0;
    }
}














