@import "front/reset";
@import "front/fonts";
@import "front/common";
@include respond-to(desktop){
    hr{
        display: none;
    }
}
.header{
    position: fixed;
    top: 0;
    width: 100%;
    padding-top:12px;
    z-index: 1008;
    overflow: hidden;
    @include respond-to(mobile){
        padding:10px;
    }
    &.sticky, &--work{
        @include respond-to(desktop){
            //background: #f5f5f5;
            background: #fff;
            .header__logo{
                background: url("../img/logo-red.svg") no-repeat center center;

            }
            .header__phone{
                color: #000;
            }
            .menu__item a{
                color: #000 !important;
                &:hover,&.active{
                    border-bottom: 2px solid #ff3d48;
                }
            }
            .header__btn{
                border: 2px solid #ff3d48;
                background: transparent;
                color: #ff3d48;
                &:hover{
                    background: transparent;
                }
            }
        }
        @include respond-to(mobile){
            background: #000;
        }
    }
    &.sticky{
        border-bottom: 1px solid #000;
    }
    @include respond-to(mobile){

        &__menu-icon{
            display: inline-block;
            width: 30px;
            height: 20px;
            background: url("../img/icon-menu.svg") no-repeat center center;
        }
    }
    &__container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
        @include respond-to(mobile){
            justify-content: space-between;
            align-items: center;
            padding: 0 10px ;
        }
    }
    &__logo{
        width: 100px;
        height: 65px;
        margin-right: 17px;
        background: url("../img/logo.svg") no-repeat center center;
        float:left;
        @include respond-to(mobile){
            width: 50px;
            margin-top: -12px;
            margin-right: 0;
            margin-bottom: -10px;

        }
    }
    .menu{
        padding: 0;
        &__item{
            display: inline-block;
            padding: 0 10px;
            a{
                color: #ffffff;
                font-family: "Proxima Nova";
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-transform: uppercase;
            }
        }
    }
    &__phone{
        color: #ffffff;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        margin-left:15px;
        @include respond-to(mobile){
            margin-left: 0;
        }
    }
    &__btn{
        border: 2px solid #ffffff;
        background: transparent;
        color: #ffffff;
        font-family: "Proxima Nova";
        font-size: 18px;
        font-weight: 400;
        line-height: 10px;
        padding: 16px 18px 16px 19px;
        margin: 0 0 0 15px;
        &:hover{
            background: transparent;
        }
    }
}

.banner{
    padding-top: 153px;
    padding-bottom: 29px;
    background:  url("../img/banner_bg.png"), url("../img/banner_img.jpg") no-repeat center center;
    background-size: cover , cover;
    @include respond-to(mobile){
        padding-top: 103px;
        background:  url("../img/banner_bg.png"), url("../img/banner_img.jpg") no-repeat top center;
        background-size: cover , cover;
    }
    &__title{
        color: #ff3d48;
        font-family: "Proxima Nova";
        font-size: 50px;
        font-weight: 700;
        line-height: 78px;
        text-transform: uppercase;
        text-align: center;
        @include respond-to(mobile){
            font-size: 30px;
            line-height: 35px;
        }
    }
    &__descr{
        width: 434px;
        height: 50px;
        margin:0 auto;
        color: #ffffff;
        font-family: "Proxima Nova";
        font-size: 22px;
        font-weight: 400;
        line-height: 34px;
        text-align: center;
        @include respond-to(mobile){
            margin-top: 24px;
            width: 100%;
            height: auto;
            font-size: 16px;
        }
        sup{
            font-size: 18px;
            vertical-align: super;
            @include respond-to(mobile){
                font-size: 13px;
            }
        }
    }
    &__advantages{
        margin-top: 183px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        @include respond-to(mobile){
            margin-top: 35px;
        }
        .advantage{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 200px;
            margin: 0 80px;
            @include respond-to(mobile){
                width: 88px;
                margin: 0 10px;
            }
            &__icon{
                width: 71px;
                height: 71px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom:20px;
                @include respond-to(mobile){
                    width: 50px;
                    height: 50px;
                }
            }
            &__text{
                color: #ffffff;
                font-family: "Proxima Nova";
                font-size: 18px;
                font-weight: 400;
                line-height: 22px;
                text-align: center;
                @include respond-to(mobile){
                    font-size: 13px;
                    line-height: 15px;
                    br{
                        display: none;
                    }
                }
            }
        }
    }
    &__btn-wrapper{
        margin-top: 43px;
        text-align: center;
    }
    &__arrow-wrapper{
        text-align: center;
        margin-top: 50px;
    }
    &__arrow{
        display: block;
        background: url("../img/arrow.svg") no-repeat center center;
        background-size: 100%;
        margin: 48px auto 0 auto;
        width: 53px;
        height: 19px;
    }
}

.services{
    padding-top: 79px;
    padding-bottom: 79px;
    @include respond-to(mobile){
        padding-top: 29px;
        padding-bottom: 29px;
    }
    .service{
        margin: 75px 0;
        padding: 0 45px;
        @include respond-to(mobile){
            margin: 25px 0;
            padding: 0 10px;
            &--capital .row{
                display: flex;
                flex-direction: column-reverse;
            }
        }
        &__title{
            font-family: "Proxima Nova";
            font-size: 32px;
            font-weight: 700;
            line-height: 40px;
            @include respond-to(mobile){
                font-size: 19px;
                line-height: 16px;
            }
        }
        &__description{
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            @include respond-to(mobile){
                font-size: 15px;
                line-height: 16px;
            }
        }
        &__order{
            color: #000000;
            font-family: "Proxima Nova";
            .price{
                font-size: 22px;
                font-weight: 700;
                line-height: 34px;
            }
            sup{
                font-size: 16px;
                vertical-align: super;
            }
        }
    }
}

.pricelist{
    padding:100px 0 60px 0;
    @include respond-to(mobile){
        padding:20px 0 20px 0;
    }
    &__item{
        display: flex;
        flex-direction: row;
        justify-content: center;
        @include respond-to(mobile){
            margin: 15px 0;
        }
    }
    &__items{
        margin-top: 80px;
        padding:0 80px;
        @include respond-to(mobile){
            margin-top: 20px;
            padding:0 10px;
        }
    }
    &__icon{
        margin-right: 25px;
        @include respond-to(mobile){
            margin-right: 15px;
        }
        &--1{
            width: 77px;
            @include respond-to(mobile){
                width: 113px;
            }
        }
        &--2{
            width: 65px;
            @include respond-to(mobile){
                width: 57px;
            }
        }
    }
    &__item-title{
        font-size: 22px;
        font-weight: 700;
        line-height: 34px;
        @include respond-to(mobile){
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 14px;

        }
    }
    &__text{
        font-family: "Proxima Nova";
        font-size: 18px;
        @include respond-to(mobile){
            font-size: 14px;
        }
    }
    &__btn{
        border: 2px solid #ff3d48;
        background: transparent;
        color: #ff5e65;
        font-family: "Proxima Nova";
        font-size: 22px;
        line-height: 15px;
        padding: 20px 31px 19px 37px;
        @include respond-to(mobile){
            padding: 5px 10px 5px 12px;
            font-size: 16px;
        }

    }
}

.calc{
    background-color: #f5f5f5;
    padding: 55px 0;
    &__step{
        display: none;
        padding-top: 25px;
        margin: 0 auto;
        @include respond-to(mobile){
            padding:0 5px;
        }

        &.active{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &--1{
            width: 500px;
            @include respond-to(mobile){
                width: 100%;
            }
            margin: 0 auto;
            &.active{
                display: block;
            }
        }
    }
    &__title{
        color: #000000;
        font-family: "Proxima Nova";
        font-size: 22px;
        font-weight: 700;
        line-height: 36px;
        text-align: center;
    }
    &__nav{
        margin:80px auto 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 500px;
        @include respond-to(mobile){
            width: 100%;
            padding: 0 10px;
            margin:35px auto 0;
        }
    }
    &__btn{
        margin: 0;
        line-height: 14px;
        padding: 17px 27px;

    }
    &__back{
        color: #000000;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 400;
        line-height: 36px;
        &--final{
            margin-right: 30px;
            margin-left: -103px;
        }
        &.disabled{
            opacity: 0.2;
        }
        &:hover{
            color: #000000;
        }
    }

    &__question{
        color: #000000;
        font-family: "Proxima Nova";
        font-size: 18px;
        font-weight: 300;
        line-height: 36px;
        text-align: center;
        @include respond-to(mobile){
            font-size: 15px;
            line-height: 30px;

        }

    }
    &__final-wrapper{
        @include respond-to(mobile){
            display: flex;
            flex-direction: column-reverse;
            .calc__back--final {
                width: 100%;
                margin-top: 15px;
                margin-left: -9px;
                display: block;
                text-align: center;
            }
            .btn{
                @include respond-to(mobile){
                    padding: 14px 35px 15px 36px !important;
                }
            }
        }
    }
    .irs--round .irs-handle{
        width: 29px;
        height: 29px;
        background-color: #f5f5f5;
        background-image: linear-gradient(to top, #ff5769 0%, #fd7554 100%);
        border: none;
        box-shadow: none;
        top: 23px;
    }
    .irs--round .irs-bar {
        top: 36px;
        height: 4px;
        background-color: #ff5769;
    }
    .irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single {
        text-shadow: none;
        padding: 3px 5px;
        background-color: transparent;
        border-radius: 0px;
        color: #000000;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 400;
        line-height: 36px;
        top:46px;
        &:before{
            display: none;
        }
    }
    .irs--round .irs-min, .irs--round .irs-max {
        top: 42px;
        padding: 3px 5px;
        background-color: transparent;
        border-radius: 0px;
        color: #000000;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 400;
        line-height: 36px;
    }

}

.portfolio{
    padding: 90px 0;
    @include respond-to(mobile){
        padding: 30px 0;
    }
    &__items{
        padding:60px 10px;
        @include respond-to(mobile){
            padding:20px 5px;
        }
    }
    &__item{
        margin: 15px 0;
        @include respond-to(mobile){
            margin: 15px 0;
        }
        &:hover{
            .portfolio__item-title{
                color: #ff3d48;
            }
            img{
                transition: 0.5s;
                transform: scale(1.02);
            }
        }
    }
    &__img{
        border-radius: 10px;
        overflow: hidden;
        width: 480px;
        height: 390px;
        @include respond-to(mobile){
            width: 100%;
            height: 250px;
            display: block;
        }
    }
    &__link{
        display: block;
        text-align: center;
    }
    &__item-title{
        color: #000000;
        font-family: "Proxima Nova";
        font-size: 22px;
        font-weight: 700;
        line-height: 34px;
        text-align: center;
        border-bottom:3px solid #ff3d48;
    }
}

.contacts{
    @include respond-to(mobile){
        .socials{
            margin-top:20px;
            text-align: center;
        }
    }
    &__row{
        margin-top: 40px;
        padding: 0 130px;
        @include respond-to(mobile){
            margin-top: 20px;
            padding: 0;
            .col{
                width: 100%;
            }
        }
    }
    &__paragraph{
        padding-top: 10px;
        @include respond-to(mobile){
            margin: 0 5px 0 60px;

        }
        &--center{
            margin-left: 56px;
            @include respond-to(mobile){
                margin: 0 5px 0 60px;

            }
        }
    }

    &__email{
        position: relative;
        &:before{
            content: '';
            width: 23px;
            height: 15px;
            background: url("../img/mail.svg") no-repeat center center;
            position: absolute;
            left: -35px;
            top: 14px;
        }
    }
    &__phone{
        position: relative;
        &:before{
            content: '';
            width: 15px;
            height: 19px;
            background: url("../img/phone.svg") no-repeat center center;
            position: absolute;
            left:-30px;
            top: 10px;
        }
    }
    &__address{
        position: relative;
        &:before{
            content: '';
            width: 31px;
            height: 36px;
            background: url("../img/map.svg") no-repeat center center;
            position: absolute;
            left:-40px;
            top: 10px;
        }
    }
    &__map{
        height: 480px;
        margin-top: 45px;
        @include respond-to(mobile){
            height: 250px;
            margin-top: 45px;
        }
    }
}

.footer{
    &__container{
        padding: 0 20px 20px 20px;
    }
    &__content{
        padding-top: 35px;
        border-top:6px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        @include respond-to(mobile){
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
    }
    &__copyright{
        color: #000000;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        margin-right: 20px;
    }
    .menu{
        padding: 0;
        &__item{
            display: inline-block;
            padding: 0 10px;
            @include respond-to(mobile){
                display: block;
                text-align: center;
            }
            a{
                color: #000000;
                font-family: "Proxima Nova";
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-transform: uppercase;
            }
        }
    }
    &__phone{
        color: #000000;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        margin-left: 90px;
        @include respond-to(mobile){
            display: none;
        }
        &:hover{
            color: #333;
        }
    }
}

.work{
    padding-top: 150px;
    &__title{
        color: #ff3d48;
        text-transform: uppercase;
    }
    &__infographics{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 30px 80px;
        @include respond-to(mobile){
            padding: 10px;
            flex-direction: column;
        }
    }
    .infographic{
        margin: 10px 15px;
        text-align: center;
        width: 140px;
        &__icon{
            margin-bottom: 15px;
            height: 70px;
        }
        &__text{
            font-size: 17px;
            sup {
                font-size: 14px;
                vertical-align: super;
            }
        }
    }
    &__photos{

    }
    &__photo{
        width: 364px;
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        @include respond-to(mobile){
            width: 100%;
        }
    }
    .review{
        position: relative;
        padding: 15px 150px;
        @include respond-to(mobile){
            padding: 10px;
        }
        &:before {
            width: 64px;
            height: 60px;
            color: #ff5a67;
            font-family: "Proxima Nova";
            font-size: 168px;
            font-weight: 400;
            line-height: 28px;
            position: absolute;
            content: '«';
            z-index: -1;
            top: 75px;
            left: 90px;
            @include respond-to(mobile) {
                top: 65px;
                left: 0px;
                font-size: 68px;
            }
        }
        &__title{
            font-size: 30px;
            line-height: 1.5;
            font-weight: 400;
        }
        &__author{
            font-size: 18px;
            line-height: 1.5;
            font-weight: 400;
        }
        &__text{
            font-weight: 300;
            margin-top: 15px;
            font-size: 16px;
            line-height: 1.5;
        }
    }
    .work-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px 0;
        color: #000;
        &--prev{
            justify-content: left;
        }
        &--next{
            justify-content: right;
        }
        &__img{
            width: 100px;
            height: 100px;
            border-radius: 15px;
            margin:10px 20px;
        }
        &__subtitle{
            font-weight: 400;
            font-size: 15px;
        }
        &__title{
            font-weight: 400;
            font-size: 22px;
            border-bottom: 2px solid #ff3d48;
            line-height: 1.5;
        }
    }

}

