<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Кит ремонт{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('front') }}
    {% endblock %}
    <base href="/">
    <link rel="icon" type="image/png" href="build/img/logo.png" />
</head>

<body>

{% if prefix is not defined %}
    {% set prefix = '/' %}
{% endif %}
<header class="header js-header {% block headerClass %} {% endblock %}">
    <div class="container header__container">
        <a class="header__logo" href="{{ path('index') }}"></a>
        <ul class="header__menu menu hidden-mobile">
            <li class="menu__item"><a href="{{ prefix }}#banner">Акция</a></li>
            <li class="menu__item"><a href="{{ prefix }}#services">Виды услуг</a></li>
            <li class="menu__item"><a href="{{ prefix }}#pricelist">Прайс-лист</a></li>
            <li class="menu__item"><a href="{{ prefix }}#portfolio">Наши работы</a></li>
            <li class="menu__item"><a href="{{ prefix }}#contacts">Контакты</a></li>
        </ul>
        <div class="mobile-menu js-mobile-menu">
            <div class="mobile-menu__header">
                <img src="build/img/logo.svg" alt="" class="mobile-menu__logo">
                <div class="header__icons">
                    <a href="#" class="icon-close js-menu-toggler visible-mobile"></a>
                </div>
            </div>
            <ul class="mobile-menu__menu">
                <li class="mobile-menu__item"><a href="{{ prefix }}#banner" class="mobile-menu__link js-mobile-menu__link">Акция</a></li>
                <li class="mobile-menu__item"><a href="{{ prefix }}#services" class="mobile-menu__link js-mobile-menu__link">Виды услуг</a></li>
                <li class="mobile-menu__item"><a href="{{ prefix }}#pricelist" class="mobile-menu__link js-mobile-menu__link">Прайс-лист</a></li>
                <li class="mobile-menu__item"><a href="{{ prefix }}#portfolio" class="mobile-menu__link js-mobile-menu__link">Наши работы</a></li>
                <li class="mobile-menu__item"><a href="{{ prefix }}#contacts" class="mobile-menu__link js-mobile-menu__link">Контакты</a></li>
            </ul>
        </div>

        <a class="header__phone" href="tel:89119322345">
            +7 911 932-23-45
        </a>
        <a href="#order" class="header__btn btn js-popup hidden-mobile" data-form="Кнопка в шапке">
            Заказать ремонт
        </a>
        <a href="#" class="header__menu-icon js-menu-toggler"></a>
    </div>
</header>
{% block content %}

{% endblock %}
<footer class="footer">
    <div class="container footer__container">
        <div class="footer__content">
            <div class="footer__copyright">
                © ООО «Кит ремонт», 2019
            </div>
            <ul class="footer__menu menu">
                <li class="menu__item"><a href="{{ prefix }}#banner">Акция</a></li>
                <li class="menu__item"><a href="{{ prefix }}#services">Виды услуг</a></li>
                <li class="menu__item"><a href="{{ prefix }}#pricelist">Прайс-лист</a></li>
                <li class="menu__item"><a href="{{ prefix }}#portfolio">Наши работы</a></li>
                <li class="menu__item"><a href="{{ prefix }}#contacts">Контакты</a></li>
            </ul>
            <a class="footer__phone" href="tel:89119322345">
                +7 911 932-23-45
            </a>
        </div>
    </div>
</footer>

<div class="popup mfp-hide" id="order">
    <form action="{{ path('bid_save') }}" class="form js-form popup__form js-popup__form" method="POST">
        <input type="hidden" class="js-antispam" name="antispam" value="">
        <input type="hidden" class="js-form-name" name="form" value="">

        <div class="form__content js-form__content">
            <div class="popup__header js-popup__header">
                Заявка на ремонт
            </div>
            <div class="popup__description js-popup__description">
                Оставьте, ваши контактные данные<br>
                и мы вам перезвоним в ближайшее время
            </div>
            <div class="form__group">
                <input type="text" class="form__input-text js-input js-required" placeholder="Имя" name="name">
            </div>
            <div class="form__group">
                <input type="tel" class="form__input-text js-input js-phone js-required" placeholder="Телефон" name="phone">
            </div>
            <div class="form__group">
                <button class="btn" type="submit">Оставить заявку</button>
            </div>
            <div class="space--100"></div>
        </div>
        <div class="form__success js-form__success">
            <div class="popup__header js-popup__header">
                Спасибо!
            </div>
            <div class="popup__success-text">
                Ваша заявка <strong><span class="js-success-number"></span></strong> принята.
                В самое ближайшее время мы вам позвоним
                на номер <span class="js-form-success-phone"></span>
            </div>
        </div>
    </form>
</div>

<script src="https://api-maps.yandex.ru/2.1/?apikey=cf0a961d-cf10-432a-97ee-645e98c7f520&lang=ru_RU" type="text/javascript"></script>

{% block javascripts %}
    {{ encore_entry_script_tags('front') }}
{% endblock %}

</body>
</html>