$white: #ffffff;
$black: #000;
$red: #d71921;
$hblue : #53b0ff;


$break-mobile: 767px;
$break-tablet: 1169px;

@mixin clearfix() {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}

@mixin respond-to($media) {
    @if $media == not-mobile {
        @media only screen and (min-width: 768px) { @content; }
    }
    @if $media == mobile {
        @media only screen and (max-width: $break-mobile) { @content; }
    }
    @if $media == tablet {
        @media only screen and (min-width: 768px) and (max-width: $break-tablet) { @content; }
    }
    @if $media == desktop {
        @media only screen and (min-width: 1200px) { @content; }
    }
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.visible-mobile{
    @include respond-to(desktop){
        display: none !important;
    }
    @include respond-to(mobile){
        display: block ;
    }
}
.hidden-mobile{
    @include respond-to(mobile){
        display: none !important;
    }
}

*{
}
html {
    font-family: "Proxima Nova";
}
body{
    position: relative;
    background: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}
section{
    width: 100%;
}
strong{
    font-weight: 400;
}
h1{
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    @include respond-to(mobile){
        font-size: 32px;
        font-weight: 400;
        line-height: 36px;
    }
}
h2{
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 42px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    text-align: center;
    @include respond-to(mobile){
        font-size: 22px;
        font-weight: 700;
    }
}
h3{
    font-size: 22px;
    font-weight: 700;
    line-height: 34px;
}
a{
    text-decoration: none;
    color: #fff;
    outline: none !important;
    &:hover{
        color: #fff;
    }
}
.form {
    &__success{
        display: none;
        font-weight: 400;
        font-size: 32px;
        color: #000;
        background: transparent;
        height: auto;
        text-align: center;
        padding: 40px 0;
        &-title{
            line-height: 40px;
            font-size: 32px;
        }
        &-description{
            font-size: 22px;
            line-height: 30px;
        }
    }
    &__group {
        margin: 11px 0;
        display: block;
        position: relative;
    }
    &__radio-input-b {
        &:last-child {
            margin-bottom : 0;
        }
    }
    &__input-text{
        width: 241px;
        height: 50px;
        padding: 10px 25px;
        border: 2px solid #dadada;
        background-color: #ffffff;
        font-size: 22px;
        box-sizing: border-box;
        &.valid {
            border: 2px solid #00a651;
        }
        &.error {
            border: 2px solid $red;
        }
        &:active, &:focus{
            border: 2px solid $hblue;
        }
        &::placeholder{
            color: #858585;
            font-size: 20px;
            font-weight: 300;
        }
    }
    &__textarea{
        width: 241px;
        height: 110px;
        padding: 10px 25px;
        border: 2px solid #dadada;
        background-color: #ffffff;
        &.valid {
            border: 2px solid #00a651;
        }
        &.error {
            border: 2px solid $red;
        }
        &:active, &:focus{
            border: 2px solid $hblue;
        }
        &::placeholder{
            color: #858585;
            font-size: 20px;
            font-weight: 300;
        }
    }
    &__radio-input-label {
        font-size : 18px;
        display : block;
        position : relative;
        padding-left : 24px;
        margin-bottom: 8px;
        color: #858585;
        font-weight: 300;
        cursor: pointer;
        &:before {
            cursor: pointer;
            position : absolute;
            left : 0;
            top : 2px;
            content : '';
            width : 8px;
            height : 8px;
            background : #f6f6f6;;
            border : 4px solid #e0e0e0;
            display : block;
            border-radius : 50%;
            transition : all 0.2s ease-out;
        }
    }
    &__radio-input {
        display : none;
        &:checked {
            & + .form__radio-input-label {
                color: #000;
                &:before {
                    cursor: pointer;
                    background : #fff;
                    border : 4px solid $red;
                }
            }
        }
    }
    /* HIDE RADIO */
    &__radio-input-img {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        & + img {
            cursor: pointer;
            border-radius: 15px;
            overflow: hidden;
            border: 5px solid transparent;
            display: block;
            max-width: 100%;

        }
        &:checked + img {
            border: 5px solid #f00;
            border-radius: 15px;

            & + p{
                color: #f00;
            }
        }
    }
    &__radio-input-img-label{
        display: inline-block;
        @include respond-to(mobile){
            vertical-align: text-top;
            width: 100px;
            p{
                font-size: 13px;
            }
        }
    }

    // checkbox input
    &__checkbox-input-b {
        padding: 5px;
        border-radius: 3px;
        border: 1px solid transparent;

        &.valid {
            border: 1px solid #00a651;
        }
        &.error {
            border: 1px solid $red;
        }
    }
    &__checkbox-input-label {
        font-size: 18px;
        font-weight: 300;
        display : block;
        position : relative;
        padding-left : 24px;
        cursor: pointer;
        color: #858585;
        &:before {
            cursor: pointer;
            position : absolute;
            left : 0;
            top : 2px;
            content : '';
            width : 16px;
            height : 16px;
            background : #fff;
            border : 1px solid #c2c2c2;
            display : block;
            border-radius : 3px;
            transition : all 0.2s ease-out;
        }
        &--top {
            &:before {
                top: 0px;
            }
        }
        &--small {
            font-size: 14px;
        }
    }
    &__checkbox-input {
        display : none;
        &:checked {
            & + .form__checkbox-input-label {
                color: #000;
                &:before {

                    background : $red;
                    border-color : $red;
                }

            }
        }
    }

}
.popup{
    position: fixed;
    z-index: 7;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include respond-to(mobile){
        border-radius: 0;
        position: fixed;
        width: 100%;
        z-index: 7;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-height: 100vh;

        .popup__info{
            margin: 0;
            br{
                display: none;
            }
        }
        .popup__percent{
            display: none;
        }
        .popup__success-text {
            text-align: center;
            width: 100%;
            margin: 0 auto;
            margin-top: 40px;
            padding: 0 10px;
        }
        .popup__description{
            padding: 0 5px;
        }
        .form__content{
            margin: 80px 20px !important;

        }
    }
    text-align: center;
    width: 670px;
    height: 491px;
    border-radius: 50px;
    background-color: #ffffff;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .mfp-close{
        font-size: 43px;
        top: 24px;
        right: 31px;
        color: #000;
        opacity: 1;
    }
    .form__content{
        margin: 80px 80px;

    }
    &__header{
        color: #000000;
        font-family: "Proxima Nova";
        font-size: 32px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 13px;
        margin-top: 33px;
    }
    &__description{
        color: #000000;
        font-family: "Proxima Nova";
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 32px;
    }
    .form__input-text,.form__textarea{
        width: 260px;
    }
    .form__group {
        margin: 19px 0;
    }

    &__success-text{
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
        width: 367px;
        margin: 0 auto;
        margin-top: 40px;
    }

}
.mobile-menu{
    display: none;
    position: fixed;
    width: 100%;
    z-index: 10;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    background-color: #000;
    .icon-close{
        position: absolute;
        right: 10px;
        top: 10px;
    }
    &.open{
        display: block;
    }
    &__logo{
        margin-top: 9px;
        margin-left: 14px;
        width: 50px;
    }
    &__menu{
        display: flex;
        height: 70vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__item{
        padding-left: 15px;
        text-align: center;
    }
    &__link{
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        line-height: 40px;
        &.active{
            color: #d71921;
        }
    }
    &__header{
        height: 15vh;
    }
    &__footer{
        background: #fff;
        height: 15vh;
    }
    .footer__socials{
        margin-top: 21px;
    }
}
.icon-close{
    display: inline-block !important;
    margin: 3px 6.5px;
    width: 24px;
    height: 24px;
    background: url("../../img/icon-close.svg") center center transparent;
}
.btn{
    font-family: "Proxima Nova - Semibold";
    transition: 0.3s;
    border-radius: 29px;
    background-color: #0655f7;
    background-image: linear-gradient(to top, #ff5769 0%, #fd7554 100%);
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    padding: 20px 40px 18px 46px;
    margin-top: 20px;
    display: inline-block;
    border: none;
    cursor: pointer;
    text-align: center;
    @include respond-to(mobile){
        padding: 10px 30px 10px 32px;
        font-size: 16px;
    }
    &:hover{
        background-image: linear-gradient(to top, #ff344a 0%, #fd7554 100%);
    }
    &:active{
        box-shadow: 0 5px 49px rgba(255, 61, 72, 0.39);
        background-color: #ff3d48;
    }
}
.tabs {
    &__nav {
        font-size : 0;
        letter-spacing : 0;
        margin: 35px auto 65px;
        display: inline-block;
        @include respond-to(mobile){
            display: block;
        }
    }
    &__link {
        color: #c3c3c2;
        font-size: 18px;
        font-weight: 300;
        cursor : pointer;
        padding: 10px 15px;
        background: #fff;
        @include respond-to(mobile){
            margin-top: 6px;
        }
        &.active {
            padding: 13px 15px;
            color: #f4c038;
            box-shadow: 0 4px 15px #f1f1f1;
            @include respond-to(mobile){
                margin-top: 3px;
            }
        }
    }
    &__tab {
        @include clearfix();
        display : none;
        &-header{
            color: #000000;
            font-size: 22px;
            font-weight: 400;
            @include respond-to(mobile){
                padding: 15px 0 0 15px;
            }
        }
        &-text{
            padding: 10px 0;
            @include respond-to(mobile){
                padding: 10px;
            }
            p{
                color: #000000;
                font-size: 18px;
                font-weight: 300;
                line-height: 24px;
                margin: 5px 0;
            }
        }
        &-btn-wrapper{
            @include respond-to(mobile){
                padding: 10px 0 0 10px;
            }
        }
        &.active {
            display : block;
        }
    }
    &__items {
        &--pt {
            padding-top: 20px;
        }
    }
}
.container{
    position: relative;
    margin: 0 auto;
    @include respond-to(desktop){
        width: 1100px;
    }
    @include respond-to(mobile) {
        width: 100%;
    }
}
.row {
    @include clearfix();
}
.col{
    float: left;
    &--6{
        width: 50%;
        @include respond-to(mobile){
            width: 100%;
            float: none;
        }
    }
    &--4{
        width: 33.33%;
    }
    &--3{
        width: 25%;
    }
    &--8{
        width: 66.67%;
    }
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.red{
    color: $red;
}
.img-responsive{
    display: inline-block;
    max-width: 100%;
}

.unmarked-list{
    &__list-item{
        position: relative;
        padding-left: 20px;
        font-size: 18px;
        font-weight: 300;
        margin: 10px 0;
        @include respond-to(mobile){
            padding-left: 20px;
            font-size: 13px;
            font-weight: 300;
            margin: 5px 0;
        }
        &--red{
            margin: 12px 0;
            padding-right: 10px;
            @include respond-to(mobile){
                margin: 0px 0;
            }
            &:before{
                color: red;
            }
        }
        &:before{
            content: "—";
            left: 0px;
            top: -1px;
            position: absolute;
        }
    }
}
.space{
    &--50{
        margin-top: 50px;
    }
    &--100{
        margin-top: 100px;
    }
}
.select2{
    width: 100% !important;
    margin-top: 30px;
    font-weight: 400;
    color: black;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #000;
    line-height: 46px;
}
.select2-container .select2-selection--single {
    border: 3px solid #e6e6e6;
    height: 50px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 48px;
    position: absolute;
    top: 1px;
    right: 10px;
    width: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #000 transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}
.slick-slide{
    margin: 15px;
}
.slick-current{
    margin-top: 0;
}