{% extends 'admin/base.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-content">
                <a href="{{ path('admin_work_index') }}" class="btn btn-warning"><i class="fa fa-long-arrow-left"></i> Назад к списку альбомов</a>
            </div>
        </div>
    </div>

    <div class="clearfix">
    </div>
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{ work.title }}</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-10">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
                {% if work.id %}
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Галерея</h3>
                            <div class="row gallery js-gallery">
                                {% for photo in work.photos %}
                                    <div class="col-sm-1 js-gallery-image">
                                        <div class="gallery__image">
                                            <a href="#" class="js-remove-image gallery__image-remove" data-url="{{ path('admin_work_remove_photo',{photo:photo.id}) }}" ><i class="fa fa-close"></i></a>
                                            <img src="{{ photo.filepath }}" alt="" class="img-responsive thumbnail">
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="dropzone js-dropzone" data-url="{{ path('admin_work_upload_photo',{work:work.id}) }}" data-owner-id="{{ work.id }}"></div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}