{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Альбомы </h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-9">
                            <a href="{{ path('admin_work_add') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Добавить альбом</a>
                        </div>
                        <div class="col-sm-3">
                            <form action="#" method="GET">
                                <div class="input-group">
                                    <input placeholder="Поиск" class="input-sm form-control" type="text" name="query">
                                    <span class="input-group-btn"><button type="button" class="btn btn-sm btn-primary">Найти</button></span>
                                </div>
                            </form>
                        </div>
                    </div>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>Адрес</th>
                            <th>Создан</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for work in works %}
                            <tr>
                                <td>{{ work.id }}</td>
                                <td>{{ work.title}}</td>
                                <td>{{ work.created|date("d.m.yг. H:i")}}</td>
                                <td>
                                    <div class="actions">

                                        <a href="{{ path('admin_work_copy', {work: work.id}) }}"
                                           title="Копировать"
                                           class="btn-warning btn btn-sm js-clone-btn"><i class="fa fa-copy"></i>
                                        </a>
                                        <a href="{{ path('admin_work_edit', {id: work.id}) }}"
                                           title="Редактировать"
                                           class="btn-primary btn btn-sm"><i class="fa fa-edit"></i>
                                        </a>
                                        <a class="btn-danger btn btn-sm js-delete-btn"
                                           title="Удалить"
                                           href="{{ path('admin_work_delete',{id:work.id}) }}">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {% if works.haveToPaginate %}
                        <div class="navigation text-center">
                            {{ pagerfanta(works, 'twitter_bootstrap3_translated', {routeName: 'admin_index','routeParams': app.request.query.all,}) }}
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}