{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Заявки </h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-9">
                        </div>
                        <div class="col-sm-3">
                            <form action="#" method="GET">
                                <div class="input-group">
                                    <input placeholder="Поиск" class="input-sm form-control" type="text" name="query">
                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn btn-sm btn-primary">Найти</button>
                                                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>Имя</th>
                            <th>Телефон</th>
                            <th>Email</th>
                            <th>Форма</th>
                            <th>Площадь</th>
                            <th>Комнат</th>
                            <th>Тип дома</th>
                            <th>Отделка</th>
                            <th>Стиль</th>
                            <th>Создан</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for bid in bids %}
                            <tr>
                                <td>{{ bid.id }}</td>
                                <td>{{ bid.name}}</td>
                                <td>{{ bid.phone}}</td>
                                <td>{{ bid.email}}</td>
                                <td>{{ bid.form}}</td>
                                <td>{{ bid.square}}</td>
                                <td>{{ bid.rooms}}</td>
                                <td>{{ bid.type}}</td>
                                <td>{{ bid.otdelka}}</td>
                                <td>{{ bid.style}}</td>
                                <td>{{ bid.created|date("d.m.yг. H:i")}}</td>
                                <td>
                                    <div class="actions">
                                        {#<a href="{{ path('admin_bid_edit', {id: bid.id}) }}"
                                           class="btn-primary btn btn-sm">Редактировать
                                        </a>#}
                                        <a class="btn-danger btn btn-sm js-delete-btn"
                                           title="Удалить"
                                           href="{{ path('admin_bid_delete',{id:bid.id}) }}">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {% if bids.haveToPaginate %}
                        <div class="navigation text-center">
                            {{ pagerfanta(bids, 'twitter_bootstrap3_translated', {routeName: 'admin_index','routeParams': app.request.query.all,}) }}
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}