/* Only demo */
@media (max-width: 1000px) {
	.welcome-message {
		display: none;
	}
}

.gallery {
	position: relative;
	&__image{
		position: relative;
		&-remove{
			position: absolute;
			top: -3px;
			right: 3px;
			font-size: 18px;
			color: #000;
		}
	}
}
.rounded-circle{
	border-radius: 100%;
	max-width: 60px;
}
.nestable{
	&__item{
		position: relative;
		button{
			margin: 11px 0 !important;
		}
	}
	&__actions{
		position: absolute;
		right: 5px;
		top: 5px;
		z-index: 999;
	}
	.dd-handle{
		padding: 9px;
	}
}