{% extends 'front/base.html.twig' %}
{% block content %}

<section class="banner" id="banner">
    <div class="container">
        <div class="banner__title">
            всё включено в стиле лофт
        </div>
        <div class="banner__descr">
            Ремонт по нашему проекту в лофт стиле<br>
            20 000 ₽ за 1 м<sup>2</sup>
        </div>
        <div class="banner__advantages">
            <div class="banner__advantage advantage">
                <div class="advantage__icon">
                    <img src="{{ asset('build/img/diamond.svg') }}" alt="" class="img-responsive">
                </div>
                <div class="advantage__text">
                    Дизайнерский<br>
                    проект
                </div>
            </div>
            <div class="banner__advantage advantage">
                <div class="advantage__icon">
                    <img src="{{ asset('build/img/work.svg') }}" alt="" class="img-responsive">
                </div>
                <div class="advantage__text">
                    В цену входят<br>
                    работа и материалы.
                </div>
            </div>
            <div class="banner__advantage advantage">
                <div class="advantage__icon">
                    <img src="{{ asset('build/img/like.svg') }}" alt="" class="img-responsive">
                </div>
                <div class="advantage__text">
                    Больше 100 сделанных<br>
                    квартир
                </div>
            </div>
        </div>
        <div class="banner__btn-wrapper">
            <a href="#order" class="btn js-popup"  data-form="Кнопка на баннере">Заказать ремонт</a>
        </div>
        <a href="#services" class="banner__arrow"></a>
    </div>
</section>

<section class="services" id="services">
    <div class="container">
        <h2 class="services__title">
            Виды услуг
        </h2>
        <div class="services__service service service--cosmetic">
            <div class="row">
                <div class="col col--6">
                    <img class="service__img img-responsive" src="build/img/cosmetic.jpg" alt="Косметический ремонт">
                </div>
                <div class="col col--6">
                    <div class="service__title">
                        Косметический ремонт
                    </div>
                    <div class="service__description">
                        Восстановление внешнего вида
                    </div>
                    <div class="row">
                        <div class="col col--6">
                            <ul class="unmarked-list">
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Демонтажные работы;</li>
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Замена сантехники;</li>
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Шпатлевание стен и потолков;</li>
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Окраска стен и потолков;</li>
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Оклейка обоями;</li>
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Замена электроточек;</li>
                            </ul>
                        </div>
                        <div class="col col--6">
                            <ul class="unmarked-list">
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Монтаж напольных покрытий;</li>
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Замена дверей.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="service__order">
                        <span class="price">3 000 – 5 000 ₽ /</span> за м<sup>2</sup>
                        <div class="service__btn-wrapper">
                            <a href="#order" class="btn js-popup" data-form="Косметический ремонт">Заказать ремонт</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="services__service service service--capital">
            <div class="row">
                <div class="col col--6">
                    <div class="service__title">
                        Капитальный ремонт
                    </div>
                    <div class="service__description">
                        Замена сантехники, электрики, качественная отделка
                    </div>
                    <div class="row">
                        <div class="col col--6">
                            <ul class="unmarked-list">
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Демонтажные работы;</li>
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Выравнивание стен и потолков;</li>
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Выравнивание пола;</li>
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Укладка плитки; </li>
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Шпатлевание стен и потолков; </li>
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Окраска стен и потолков;</li>
                            </ul>
                        </div>
                        <div class="col col--6">
                            <ul class="unmarked-list">
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Оклейка обоями;</li>
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Санузел;</li>
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Монтаж напольных покрытий;</li>
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Установка дверей;</li>
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Электромонтажные  работы;</li>
                            </ul>
                        </div>
                    </div>
                    <div class="service__order">
                        <span class="price">5 500 – 10 000 ₽ /</span> за м<sup>2</sup>
                        <div class="service__btn-wrapper">
                            <a href="#order" class="btn js-popup" data-form="Капитальный ремонт">Заказать ремонт</a>
                        </div>
                    </div>
                </div>
                <div class="col col--6">
                    <img class="service__img img-responsive" src="build/img/capital.jpg" alt="Капитальный ремонт">
                </div>
            </div>
        </div>
        <hr>
        <div class="services__service service service--euro">
            <div class="row">
                <div class="col col--6">
                    <img class="service__img img-responsive" src="build/img/euroremont.jpg" alt="Eвроремонт">
                </div>
                <div class="col col--6">
                    <div class="service__title">
                        Евроремонт
                    </div>
                    <div class="service__description">
                        Выполняется по дизайн-проекту с подробными
                        техническими картами.
                    </div>
                    <div class="row">
                        <div class="col col--6">
                            <ul class="unmarked-list">
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Демонтажные работы;</li>
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Строгое соблюдение геометрии;</li>
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Выравнивание стен;</li>
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Выравнивание пола;</li>
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Конструкции из гипсокартона;</li>
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Многоуровневые потолки и ниши;</li>
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Сантехнические работы;</li>
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Укладка плитки;</li>
                            </ul>
                        </div>
                        <div class="col col--6">
                            <ul class="unmarked-list">
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Электромонтажные работы;</li>
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Монтаж напольных покрытий;</li>
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Установка дверей;</li>
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Шпатлевание стен  и потолков;</li>
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Окраска стен и потолков;</li>
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Оклейка обоев</li>
                                <li class="unmarked-list__list-item unmarked-list__list-item--red">Монтаж декоративных элементов;</li>
                            </ul>
                        </div>
                    </div>
                    <div class="service__order">
                        <span class="price">от 10 000 ₽ /</span> за м<sup>2</sup>
                        <div class="service__btn-wrapper">
                            <a href="#order" class="btn js-popup" data-form="Евроремонт">Заказать ремонт</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</section>

<section class="pricelist" id="pricelist">
    <div class="container">
        <h2 class="pricelist__title">
            Прайс-Лист
        </h2>
        <div class="row pricelist__items">
            <div class="col col--6">
                <div class="pricelist__item">
                    <div class="pricelist__icon pricelist__icon--1">
                        <img src="build/img/price.svg" alt="">
                    </div>
                    <div class="pricelist__content">
                        <h3 class="pricelist__item-title">
                            Прайс-лист
                        </h3>
                        <div class="pricelist__text">
                            Перечень всех видов работ с ценами
                            и дополнительной информацией
                        </div>
                        <div class="pricelist__btn-wrapper">
                            <a href="/price-kit-remont.pdf" class="btn pricelist__btn" target="_blank">Открыть PDF</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col col--6">
                <div class="pricelist__item">
                    <div class="pricelist__icon pricelist__icon--2">
                        <img src="build/img/remont.svg" alt="">
                    </div>
                    <div class="pricelist__content">
                        <h3 class="pricelist__item-title">
                            Бесплатный вызов мастера
                        </h3>
                        <div class="pricelist__text">
                            Замер помещения, консультация<br>
                            по работам
                        </div>
                        <div class="pricelist__btn-wrapper">
                            <a href="#order" class="btn pricelist__btn js-popup" data-form="Вызов мастера">Вызвать мастера</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="calc js-calc" data-step="1">
    <div class="container">
        <div class="calc__title">
            Онлайн-калькулятор для расчета стоимости ремонта
        </div>
        <form action="{{ path('bid_save') }}" class="form js-form js-calc-form">
            <input type="hidden" class="js-antispam" name="antispam" value="">
            <input type="hidden" name="form" value="Калькулятор">

            <div class="js-form__content">
                <div class="calc__step calc__step--1 js-step active" data-id="1">
                    <p class="calc__question">Какая площадь у вашей квартиры? (м²)</p>
                    <div class="form__group">
                        <input type="range" class="js-slider" name="square">
                    </div>
                </div>

                <div class="calc__step calc__step--2 js-step"  data-id="2">
                    <p class="calc__question">Сколько у вас комнат?</p>
                    <div class="form__group">
                        <input type="radio" name="rooms" id="r21" checked="" class="form__radio-input" value="Cтудия">
                        <label for="r21" class="form__radio-input-label">Cтудия</label>

                        <input type="radio" name="rooms" id="r22"  class="form__radio-input" value="1">
                        <label for="r22" class="form__radio-input-label">1</label>

                        <input type="radio" name="rooms" id="r23"  class="form__radio-input" value="2">
                        <label for="r23" class="form__radio-input-label">2</label>

                        <input type="radio" name="rooms" id="r24"  class="form__radio-input" value="3">
                        <label for="r24" class="form__radio-input-label">3</label>

                        <input type="radio" name="rooms" id="r25"  class="form__radio-input" value="4">
                        <label for="r25" class="form__radio-input-label">4</label>

                        <input type="radio" name="rooms" id="r26"  class="form__radio-input" value="Более 4х">
                        <label for="r26" class="form__radio-input-label">Более 4х</label>
                    </div>
                </div>

                <div class="calc__step calc__step--3 js-step" data-id="3">
                    <p class="calc__question">Какой у вас тип дома?</p>
                    <div class="form__group">
                        <label class="form__radio-input-img-label">
                            <input type="radio" name="type" value="Новостройка" class="form__radio-input-img" checked>
                            <img src="build/img/novostroika.png">
                            <p class="text-center">Новостройка</p>
                        </label>
                        <label class="form__radio-input-img-label">
                            <input type="radio" name="type" value="Старый фонд" class="form__radio-input-img">
                            <img src="build/img/old-fond.png">
                            <p class="text-center">Старый фонд</p>
                        </label>
                    </div>
                </div>

                <div class="calc__step calc__step--4 js-step" data-id="4">
                    <p class="calc__question">Какая отделка в вашей квартире сейчас?</p>
                    <div class="form__group">
                        <label class="form__radio-input-img-label">
                            <input type="radio" name="otdelka" value="Без отделки" class="form__radio-input-img" checked>
                            <img src="build/img/bez-otdelki.png">
                            <p class="text-center">Без отделки</p>
                        </label>
                        <label class="form__radio-input-img-label">
                            <input type="radio" name="otdelka" value="Черновая отделка" class="form__radio-input-img">
                            <img src="build/img/chern-otdelka.png">
                            <p class="text-center">Черновая отделка</p>
                        </label>
                        <label class="form__radio-input-img-label">
                            <input type="radio" name="otdelka" value="Предистовая отделка" class="form__radio-input-img">
                            <img src="build/img/predist-otdelka.png">
                            <p class="text-center">Предистовая отделка</p>
                        </label>
                    </div>
                </div>

                <div class="calc__step calc__step--5 js-step" data-id="5">
                    <p class="calc__question">А какой стиль вам нравится?</p>
                    <div class="form__group">
                        <label class="form__radio-input-img-label">
                            <input type="radio" name="style" value="Скандинавский" class="form__radio-input-img" checked>
                            <img src="build/img/skandinavskaya.png">
                            <p class="text-center">Скандинавский</p>
                        </label>
                        <label class="form__radio-input-img-label">
                            <input type="radio" name="style" value="Минимализм" class="form__radio-input-img">
                            <img src="build/img/minimalizm.png">
                            <p class="text-center">Минимализм</p>
                        </label>
                        <label class="form__radio-input-img-label">
                            <input type="radio" name="style" value="Лофт" class="form__radio-input-img">
                            <img src="build/img/loft.png">
                            <p class="text-center">Лофт</p>
                        </label>
                        <label class="form__radio-input-img-label">
                            <input type="radio" name="style" value="Классический" class="form__radio-input-img">
                            <img src="build/img/klassicheskiy.png">
                            <p class="text-center">Классический</p>
                        </label>
                        <label class="form__radio-input-img-label">
                            <input type="radio" name="style" value="Нужен дизайн проект" class="form__radio-input-img">
                            <img src="build/img/design-project.png">
                            <p class="text-center">Нужен дизайн проект</p>
                        </label>
                    </div>
                </div>

                <div class="calc__step calc__step--6 js-step" data-id="6">
                    <p class="calc__question">Мы уже считаем предварительную смету.<br>Как только закончим — позвоним и расскажем.</p>
                    <div class="form__group">
                        <input type="text" class="form__input-text js-input js-required" value="" placeholder="Имя" name="name">
                    </div>
                    <div class="form__group">
                        <input type="tel" class="form__input-text js-input js-phone js-required" value="" placeholder="Телефон" name="phone">
                    </div>
                    <div class="form__group calc__final-wrapper">
                        <a href="#" class="calc__back calc__back--final js-calc__back">← Назад</a>
                        <button class="btn" type="submit">Рассчитать</button>
                    </div>
                </div>

                <div class="calc__nav js-calc__nav">
                    <a href="#" class="calc__back js-calc__back disabled">← Назад</a>
                    <span class="calc_current"><span class="js-step-current">1</span> шаг из 5</span>
                    <a href="#" class="btn calc__btn calc__next  js-calc__next">Далее →</a>
                </div>
            </div>
            <div class="form__success js-form__success">
                <div class="form__success-title">Спасибо!</div>
                <p class="form__success-description">Мы перезвоним в ближайшее время<br>
                    на номер <span class="form__success-phone js-form-success-phone">+7 921 134-56-78</span>
                </p>
            </div>
        </form>
    </div>
</section>

<section class="portfolio" id="portfolio">
    <div class="container">
        <h2 class="portfolio__title">
            Наши работы
        </h2>
        <div class="row portfolio__items">
            {% for work in works %}
                <div class="col col--6 portfolio__item">
                    <a href="{{ path('work_show',{work:work.id}) }}" class="portfolio__link"><img src="{{ work.photo }}" alt="" class="portfolio__img img-responsive"></a>
                    <a href="{{ path('work_show',{work:work.id}) }}" class="portfolio__link"><span class="portfolio__item-title">{{ work.title }}</span></a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="contacts" id="contacts">
    <div class="container">
        <h2 class="contacts__title">
            Контакты
        </h2>
        <div class="row contacts__row">
            <div class="col col--4">
                <p class="contacts__email contacts__paragraph">
                    remontkit@gmail.com
                </p>
                <p class="contacts__phone contacts__paragraph">
                    +7 911 932 234
                </p>
            </div>
            <div class="col col--4">
                <p class="contacts__address contacts__paragraph contacts__paragraph--center">
                    Полюстровский пр -т., 72Б<br>
                    оф. 108
                </p>
            </div>
            <div class="col col--4 text-right socials">
                <a href="https://www.instagram.com/remontkit/" rel="nofollow" target="_blank"><img src="build/img/insta.svg" alt="" width="50"></a>
                <a href="https://vk.com/kitremont" rel="nofollow" target="_blank"><img src="build/img/vk.svg"  alt="" width="50"></a>
            </div>
        </div>
    </div>
    <div id="map" class="contacts__map"></div>
</section>

{% endblock %}