<ol class="dd-list">
    {% for child in page.children %}
        <li class="dd-item" data-id="{{ child.id }}">
            <div class="nestable__actions">
                <a href="{{ path('admin_page_edit', {id: child.id}) }}" title="Редактировать" class="btn-primary btn btn-sm"><i class="fa fa-edit"></i></a>
                <a class="btn-danger btn btn-sm js-delete-btn" title="Удалить" href="{{ path('admin_page_delete',{id:child.id}) }}"><i class="fa fa-remove"></i></a>
            </div>
            <div class="dd-handle">
                 {{ child.title }}
            </div>
            {% if child.children|length %}
                {{ include('admin/page/_page_children.html.twig',{page:child}) }}
            {% endif %}
        </li>
    {% endfor %}
</ol>