{% extends 'admin/base.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-content">
                <a href="{{ path('admin_page_index') }}" class="btn btn-warning"><i class="fa fa-long-arrow-left"></i> Назад к списку</a>
            </div>
        </div>
    </div>

    <div class="clearfix">
    </div>
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{ page.title }}</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-10">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}