{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Страницы </h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-9">
                            <a href="{{ path('admin_page_add') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Добавить запись</a>
                        </div>
                        <div class="col-sm-3">
                            <form action="#" method="GET">
                                <div class="input-group">
                                    <input placeholder="Поиск" class="input-sm form-control" type="text" name="query">
                                    <span class="input-group-btn"><button type="button" class="btn btn-sm btn-primary">Найти</button></span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="nested-set">
                        <div id="nestable-menu" class="js-nestable-menu">
                            <button type="button" data-action="expand-all" class="btn btn-white btn-sm">Expand All</button>
                            <button type="button" data-action="collapse-all" class="btn btn-white btn-sm">Collapse All</button>
                        </div>
                        <div class="js-nestable nestable" id="nestable" data-action="{{ path('admin_page_update_tree') }}">
                            <ol class="dd-list">
                                {% for page in pages %}
                                    <li class="dd-item nestable__item" data-id="{{ page.id }}">
                                        <div class="nestable__actions">
                                            <a href="{{ path('admin_page_edit', {id: page.id}) }}" title="Редактировать" class="btn-primary btn btn-sm"><i class="fa fa-edit"></i></a>
                                            <a class="btn-danger btn btn-sm js-delete-btn" title="Удалить" href="{{ path('admin_page_delete',{id:page.id}) }}"><i class="fa fa-remove"></i></a>
                                        </div>
                                        <div class="dd-handle">
                                            {{ page.title }}
                                        </div>
                                        {% if page.children|length %}
                                            {{ include('admin/page/_page_children.html.twig',{page:page}) }}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ol>
                        </div>

                    </div>


                    {#<table class="table table-striped">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>Адрес</th>
                            <th>Создан</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for page in pages %}
                            <tr>
                                <td>{{ page.id }}</td>
                                <td>{{ page.email}}</td>
                                <td>{{ page.created|date("d.m.yг. H:i")}}</td>
                                <td>
                                    <div class="actions">
                                        <a href="{{ path('admin_page_edit', {id: page.id}) }}"
                                           title="Редактировать"
                                           class="btn-primary btn btn-sm"><i class="fa fa-edit"></i>
                                        </a>
                                        <a class="btn-danger btn btn-sm js-delete-btn"
                                           title="Удалить"
                                           href="{{ path('admin_page_delete',{id:page.id}) }}">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>#}

                </div>
            </div>

        </div>
    </div>
{% endblock %}